
/* Local Retailers */
/* ------------------------------------------------------------ */

#progression-panels .panel-content.summary .local-retailers {
	display: flex;
	flex-direction: column;
	padding: 40px;
}

#progression-panels .panel-content.summary .local-retailers .retailer {
	display: flex;
	min-height: 360px;
}

#progression-panels .panel-content.summary .local-retailers .retailer .contact {
	display: flex;
	width: 30%;
	flex: 0 0 30%;
}

#progression-panels .panel-content.summary .local-retailers .retailer #map {
	display: flex;
	flex: 1;
	background-color: #aaa;
}


/* Breakpoint Styles */
/* 1920px, 1600px, 1366px, 1280px, 1024px, 768px */
/* ------------------------------------------------------------ */

@media screen and (min-width: 0px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

}

@media screen and (min-width: 1280px) and (max-width: 1599px) {

}

@media screen and (min-width: 1600px) and (max-width: 1919px) {

}

@media screen and (min-width: 1920px) {

}
