
/* Visualizer */
/* ------------------------------------------------------------ */

#visualizer {
	position: relative;
	height: calc(100vh - 400px);
}

#configurator.hide-visualizer #visualizer {
	display: none;
}


/* Breakpoint Styles */
/* 1920px, 1600px, 1366px, 1280px, 1024px, 768px */
/* ------------------------------------------------------------ */

@media screen and (min-width: 0px) and (max-width: 767px) {
	#visualizer {
		height: calc(60vh - 50px);
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#visualizer {
		height: calc(60vh - 50px);
	}
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

}

@media screen and (min-width: 1280px) and (max-width: 1599px) {

}

@media screen and (min-width: 1600px) and (max-width: 1919px) {

}

@media screen and (min-width: 1920px) {

}
