
/* Progression Panel Trims */
/* ------------------------------------------------------------ */

/* Card: Trim */

#progression-panels .panel-content .card.trim .title {
	padding: 0 0 15px 0;
}

#progression-panels .panel-content .card.trim .card-content {
	padding: 35px;
}






/* Breakpoint Styles */
/* 1920px, 1600px, 1366px, 1280px, 1024px, 768px */
/* ------------------------------------------------------------ */

@media screen and (min-width: 0px) and (max-width: 767px) {
	#progression-panels .panel-content .card.trim .card-content {
		padding: 30px;
	}
	#progression-panels .panel-content .card.trim .title {
		font-size: 24px;
		line-height: 28px;
		padding: 0 0 20px 0;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

}

@media screen and (min-width: 1280px) and (max-width: 1599px) {

}

@media screen and (min-width: 1600px) and (max-width: 1919px) {

}

@media screen and (min-width: 1920px) {

}
