
/* Progression Panel Accessories */
/* ------------------------------------------------------------ */

#progression-panels .panel-content .card.accessory .accessory-photo {
	position: absolute;
	width: 100%;
	height: 220px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
	left: 0;
	top: 0;
	z-index: 10;
}

#progression-panels .panel-content .card.accessory .accessory-photo img {
	width: 100%;
}

#progression-panels .panel-content .card.accessory .card-content {
	padding: 250px 35px 35px 35px;
}

#progression-panels .panel-content .card.accessory .title.small {
	padding: 0;
}





#progression-panels .panel-content .card.accessory .select-icon {
	position: absolute;
	/* display: flex;
	width: 40px;
	flex: 0 0 40px;
	z-index: 10; */
	top: 30px;
	left: 30px;
	z-index: 20;
}

#progression-panels .panel-content .card.accessory .select-icon img {
	position: absolute;
	width: 30px;
	top: 0;
	left: 0;
}


#progression-panels .panel-content .card.accessory .select-icon .deselected {
	display: block;
	opacity: 0.75;
}

#progression-panels .panel-content .card.accessory .select-icon .selected {
	display: none;
}

#progression-panels .panel-content .card.accessory.selected .select-icon .deselected {
	display: none;
}

#progression-panels .panel-content .card.accessory.selected .select-icon .selected {
	display: block;
}



/* Breakpoint Styles */
/* 1920px, 1600px, 1366px, 1280px, 1024px, 768px */
/* ------------------------------------------------------------ */

@media screen and (min-width: 0px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

}

@media screen and (min-width: 1280px) and (max-width: 1599px) {

}

@media screen and (min-width: 1600px) and (max-width: 1919px) {

}

@media screen and (min-width: 1920px) {

}
