
/* Visualizer */
/* ------------------------------------------------------------ */

#visualizer .ui {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%); */
	background: rgba(0, 0, 0, 0.0);
	z-index: 10;
}

#visualizer .ui .nav {
	position: absolute;
	display: flex;
	width: 100%;
	height: 50%;
	bottom: 0;
	left: 0;
	z-index: 10;
}

#visualizer .ui .pill-button {
	position: relative;
	height: 30px;
	line-height: 31px;
	font-size: 14px;
	padding: 0 20px;
	margin: 0 5px;
	opacity: 0.8;
}

#visualizer .ui .pill-button.selected {
	opacity: 1;
}

#visualizer .ui .pill-button .label {
	position: relative;
	font-size: 13px;
	line-height: 32px;
	letter-spacing: 1px;
	z-index: 20;
	color: #fff;
}

#visualizer .ui .pill-button .background,
#visualizer .ui .vehicle-info-bar .pill-button .background {
	position: absolute;
	height: 30px;
	width: 100%;
	left: 0;
	top: 0;
	border-radius: 15px;
	opacity: 1;
	z-index: 10;
}

#visualizer .ui .pill-button.selected .background {
	background-color: rgba(0,0,0,0.5);
}

#visualizer .ui .mode-nav,
#visualizer .ui .mode-subnav,
#visualizer .ui .fullscreen {
	position: absolute;
	display: flex;
}

/* UI Vignettes */

/* #visualizer .ui .vehicle-info-bar .vignette {
	position: absolute;
	width: 100%;
	height: 200px;
	top: 0;
	left: 0;
	z-index: 10;
	background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
} */

#visualizer .ui .vehicle-info-bar .vignette {
	position: absolute;
	width: 100%;
	height: 70px;
	top: 0;
	left: 0;
	z-index: 10;
	background: rgba(0,0,0,0.55);
}

#visualizer .ui .nav .vignette {
	position: absolute;
	width: 100%;
	height: 120px;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
}



/* Mode Nav */

#visualizer .ui .mode-nav {
	position: absolute;
	display: flex;
	width: 50%;
	left: 80px;
	bottom: 40px;
}

#visualizer .ui .mode-button {
	padding: 0 15px 0 45px;
	margin: 0;
}

#visualizer .ui .mode-button .icon {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 9px;
	top: -3px;
	z-index: 20;
}

#visualizer .ui .mode-button .icon img {
	width: 36px;
	height: 36px;
}


/* Mode Subnav */

#visualizer .ui .mode-subnav {
	position: absolute;
	display: flex;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 40px;
	margin: 0 auto;
	justify-content: center;
}

#visualizer .ui .mode-subnav .mode-subnav-360 {
	display: flex;
}

#visualizer .ui .mode-subnav .mode-subnav-360-button {
	display: flex;
}


/* Fullscreen Toggle */

#visualizer .ui .fullscreen {
	position: absolute;
	right: 80px;
	bottom: 40px;
}

#visualizer .ui .fullscreen-button {
	position: relative;
	line-height: 28px;
	padding: 0 31px 0 0;
}

#visualizer .ui .fullscreen-button .icon {
	position: absolute;
	width: 30px;
	height: 30px;
	right: -8px;
	top: -2px;
	/* border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.5); */
}

#visualizer .ui .fullscreen-button .icon img {
	position: absolute;
	width: 34px;
	height: 34px;
	top: -2px;
	left: -2px;
}


/* Vehicle Info */

#visualizer .ui .vehicle-info-bar {
	position: absolute;
	display: flex;
	height: 50%;
	width: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}


#visualizer .ui .vehicle-info-bar.sticky {
	position: fixed;
	top: 80px;
	left: 0;
	z-index: 100;
}








#visualizer .ui .vehicle-info-bar .vehicle-info {
	position: absolute;
	display: flex;
	height: 70px;
	width: 100%;
	z-index: 20;
	letter-spacing: 0.5px;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .left-column {
	display: flex;
	flex: 1;
	flex-direction: row;
	/* padding: 50px 0 0 80px; */
}

#visualizer .ui .vehicle-info-bar .vehicle-info .right-column {
	display: flex;
	/* flex: 0 0 260px;
	width: 260px; */
	justify-content: flex-end;
	/* padding: 52px 80px 0 0; */
}

#visualizer .ui .vehicle-info-bar .vehicle-info .model {
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	display: flex;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 0;
	color: #fff;
	padding: 21px 0 0 80px;
	/* text-shadow: 0px 1px 10px rgba(0,0,0,0.15); */
}

#visualizer .ui .vehicle-info-bar .vehicle-info .build {
	display: flex;
	flex-direction: column;
	padding: 21px 0 0 0;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .build.desktop {
	display: flex;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .build.mobile {
	display: none;
}



#visualizer .ui .vehicle-info-bar .vehicle-info .trim,
#visualizer .ui .vehicle-info-bar .vehicle-info .color {
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	display: flex;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 1px;
	/* color: #CD9A81; */
	color: #e9cec1;
	/* color: rgba(255,255,255,0.7); */
	padding: 0 0 0 20px;
	/* text-shadow: 0px 1px 10px rgba(0,0,0,0.15); */
}


/* Specs */

#visualizer .ui .vehicle-info-bar .vehicle-info .specs {
	display: flex;
	flex-direction: row;
	position: relative;
	flex: 1;
	z-index: 10;
	padding: 21px 80px 0 0;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .spec {
	display: flex;
	flex-direction: row;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .spec.msrp {
	padding: 0 0 0 40px;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .specs .labels {
	display: flex;
	width: 100%;
	margin: 0 0 20px 0;
	justify-content: flex-end;
	text-shadow: 0px 1px 10px rgba(0,0,0,0.15);
}

#visualizer .ui .vehicle-info-bar .vehicle-info .specs .values {
	position: relative;
	display: flex;
	width: 100%;
	z-index: 10;
	justify-content: flex-end;
	text-shadow: 0px 1px 10px rgba(0,0,0,0.15);
}

#visualizer .ui .vehicle-info-bar .vehicle-info .specs .label {
	display: flex;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 1px;
	flex: 1;
	color: #e9cec1;
	/* color: rgba(255,255,255,0.7); */
	padding: 0 0 0 15px;
	justify-content: flex-end;
	/* text-align: right; */
}

#visualizer .ui .vehicle-info-bar .vehicle-info .spec .label.mobile {
	display: none;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .spec .label.desktop {
	display: flex;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .specs .value {
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	display: flex;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 1px;
	flex: 1;
	justify-content: flex-end;
	text-align: right;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .specs .value span.super {
	font-size: 14px;
	transform: translateY(-6px);
}

#visualizer .ui .vehicle-info-bar .vehicle-info .zip {
	position: relative;
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	display: flex;
	font-size: 14px;
	padding: 18px 30px 0 30px;
	margin: 0 5px 0 0;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .zip .icon {
	position: absolute;
	width: 40px;
	height: 40px;
	left: -5px;
	top: 15px;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .zip .icon img {
	width: 36px;
	height: 36px;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .inventory .pill-button {
	padding: 0 10px;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .inventory .pill-button .label {
	padding: 0;
	line-height: 32px;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .inventory .icon {
	position: absolute;
	width: 40px;
	height: 40px;
	left: -10px;
	top: 15px;
}

#visualizer .ui .vehicle-info-bar .vehicle-info .inventory .icon img {
	width: 36px;
	height: 36px;
}

#visualizer .ui .vehicle-info-bar .background {
	position: absolute;
	background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
	height: 200px;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0.6;
	z-index: 10;
	transition: opacity 0.6s ease-out;
}

#visualizer .ui .vehicle-info-bar.sticky .background {
	opacity: 1;
}




/* Breakpoint Styles */
/* 1920px, 1600px, 1366px, 1280px, 1024px, 768px */
/* ------------------------------------------------------------ */

@media screen and (min-width: 0px) and (max-width: 767px) {
	#visualizer .ui .mode-nav {
		left: 2px;
		bottom: 22px;
		flex-direction: column-reverse;;
	}

	#visualizer .ui .mode-subnav {
		bottom: 23px;
	}

	#visualizer .ui .mode-subnav-360 .pill-button {
		padding: 0 15px;
	}

	#visualizer .ui .pill-button .label {
		font-size: 10px;
		letter-spacing: 0.5;
	}

	#visualizer .ui .mode-nav .pill-button {
		padding: 0 20px 0 55px;
		margin: 10px 0 0 0;
	}

	#visualizer .ui .mode-nav .pill-button .label {
		display: none;
	}

	#visualizer .ui .mode-nav .pill-button .background {
		width: 30px;
		left: 12px;
		top: -1px;
	}

	#visualizer .ui .fullscreen {
		right: 22px;
		bottom: 18px;
		height: 32px;
	}

	#visualizer .ui .fullscreen .fullscreen-button .label {
		display: none;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .right-column .spec.inventory {
		display: none;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .right-column {
		padding: 0;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .left-column {
		padding: 0;
		flex: 1;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .model {
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 0.5;
		padding: 14px 0 2px 20px;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .trim {
		font-size: 12px;
		line-height: 14px;
		padding: 0 0 0 20px;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .specs {
		padding: 14px 20px 0 0;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .spec {
		flex-direction: column;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .left-column {
		flex-direction: column;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .specs .label,
	#visualizer .ui .vehicle-info-bar .vehicle-info .trim {
		font-size: 10px;
		line-height: 12px;
		flex: none;
		justify-content: flex-end;
		text-align: right;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .trim {
		justify-content: flex-start;
		text-align: left;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .spec.msrp .label {
		padding: 0;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .color {
		display: none;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .specs .value {
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 0;
		flex: none;
		padding: 0 0 2px 0;
		justify-content: flex-end;
		text-align: right;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .specs .value span.super {
		font-size: 11px;
		transform: translateY(-3px);
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .build {
		padding: 0;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .spec.msrp {
		padding: 0 0 0 15px;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .specs .label {
		padding: 0;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .spec .label.mobile {
		display: flex;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .spec .label.desktop {
		display: none;
	}

	#visualizer .ui .vehicle-info-bar,
	#visualizer .ui .vehicle-info-bar .vehicle-info,
	#visualizer .ui .vehicle-info-bar .vignette {
		height: 60px;
	}

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#visualizer .ui .mode-nav {
		left: 22px;
		bottom: 32px;
		flex-direction: column-reverse;;
	}

	#visualizer .ui .mode-subnav {
		bottom: 33px;
	}

	#visualizer .ui .mode-subnav-360 .pill-button {
		padding: 0 15px;
	}

	#visualizer .ui .pill-button .label {
		font-size: 10px;
		letter-spacing: 0.5;
	}

	#visualizer .ui .mode-nav .pill-button {
		padding: 0 20px 0 55px;
		margin: 10px 0 0 0;
	}

	#visualizer .ui .mode-nav .pill-button .label {
		display: none;
	}

	#visualizer .ui .mode-nav .pill-button .background {
		width: 30px;
		left: 12px;
		top: -1px;
	}

	#visualizer .ui .fullscreen {
		right: 32px;
		bottom: 28px;
		height: 32px;
	}

	#visualizer .ui .fullscreen .fullscreen-button .label {
		display: none;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .build.desktop {
		display: none;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .build.mobile {
		display: flex;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .right-column .spec.inventory {
		display: none;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .model {
		font-size: 26px;
		padding: 16px 0 2px 30px;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .trim,
	#visualizer .ui .vehicle-info-bar .vehicle-info .color {
		font-size: 10px;
		line-height: 11px;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .build {
		padding: 20px 0 0 0;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .right-column .specs {
		padding: 20px 30px 0 0;
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .right-column .value {
		font-size: 26px;
		transform: translateY(-4px);
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .specs .value span.super {
		font-size: 12px;
		transform: translateY(-5px);
	}

	#visualizer .ui .vehicle-info-bar .vehicle-info .right-column .label {
		font-size: 10px;
		line-height: 11px;
	}

	#visualizer .ui .vehicle-info-bar,
	#visualizer .ui .vehicle-info-bar .vehicle-info,
	#visualizer .ui .vehicle-info-bar .vignette {
		height: 60px;
	}

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

}

@media screen and (min-width: 1280px) and (max-width: 1599px) {

}

@media screen and (min-width: 1600px) and (max-width: 1919px) {

}

@media screen and (min-width: 1920px) {

}
