
/* Progression Nav */
/* ------------------------------------------------------------ */

#progression-nav {
	position: absolute;
	display: flex;
	background-color: #171717;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

#progression-nav.sticky {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

#progression-nav .tabs {
	display: flex;
	flex: 1;
	height: 80px;
	padding: 0 80px;
}

#progression-nav .tab-button {
	position: relative;
	display: flex;
	flex: 0;
	padding: 0;
	height: 80px;
	cursor: pointer;
	opacity: 0.4;
}

#progression-nav .tab-button .label {
	display: flex;
	position: relative;
	z-index: 20;
	line-height: 80px;
	font-size: 13px;
	letter-spacing: 1px;
	/* color: #888; */
	padding: 0 40px 0 0;
}

#progression-nav .tab-button .icon {
	position: relative;
	display: flex;
	width: 30px;
	/* opacity: 0.5; */
}

#progression-nav .tab-button .icon img {
	position: absolute;
	width: 30px;
	top: 24px;
	left: -7px;
}

#progression-nav .tab-button.selected .icon {
	/* opacity: 1; */
}

#progression-nav .tab-button.selected .label {
	/* color: #fff; */
}

#progression-nav .tab-button .underline {
	display: block;
	position: absolute;
	width: calc(100% - 35px);
	height: 2px;
	bottom: 0;
	left: 0;
	line-height: 0;
	z-index: 10;
	background-color: #CD9A81;
	opacity: 0;
	transform: scaleX(0);
}

/* #progression-nav .tab-button.selected .underline {
	display: block;
} */

#progression-nav .cta .icon img {
	width: 36px;
	height: 36px;
}

#progression-nav .next-button .button {
	position: absolute;
	width: 240px;
	left: 20px;
	line-height: 52px;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

#progression-nav .next-button {
	position: absolute;
	width: 340px;
	height: 80px;
	top: 0;
	right: 0;
	background-color: #171717;
	z-index: 30;
}

#progression-nav .next-button .gradient {
	position: absolute;
	width: 60px;
	height: 80px;
	top: 0;
	left: -40px;
	background: linear-gradient(to right, rgba(23,23,23,0) 0%,rgba(23,23,23,1) 100%);
}




/* Breakpoint Styles */
/* 1920px, 1600px, 1366px, 1280px, 1024px, 768px */
/* ------------------------------------------------------------ */

@media screen and (min-width: 0px) and (max-width: 767px) {

	#configurator.hide-visualizer #progression-nav {
		top: 0;
	}


	#progression-nav {
		top: calc(60vh - 50px);
		height: 50px;
	}
	#progression-nav .tabs {
		height: 50px;
		padding: 0 20px;
	}
	#progression-nav .tab-button {
		height: 50px;
	}
	#progression-nav .tab-button .label {
		font-size: 12px;
		line-height: 50px;
		padding: 0 25px 0 0;
	}
	#progression-nav .tab-button .icon {
		width: 26px;
	}
	#progression-nav .tab-button .icon img {
		top: 11px;
		width: 26px;
	}
	#progression-nav .next-button .button {
		display: none;
	}
	#progression-nav .next-button {
		width: 0px;
		height: 50px;
	}
	#progression-nav .next-button .gradient {
		height: 50px;
	}
	#progression-nav .tab-button .underline {
		width: calc(100% - 22px);
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

	#configurator.hide-visualizer #progression-nav {
		top: 0;
	}


	#progression-nav {
		top: calc(60vh - 50px);
		height: 50px;
	}
	#progression-nav .tabs {
		height: 50px;
		padding: 0 40px;
	}
	#progression-nav .tab-button {
		height: 50px;
	}
	#progression-nav .tab-button .label {
		font-size: 12px;
		line-height: 50px;
		padding: 0 25px 0 0;
	}
	#progression-nav .tab-button .icon {
		width: 26px;
	}
	#progression-nav .tab-button .icon img {
		top: 11px;
		width: 26px;
	}
	#progression-nav .next-button .button {
		display: none;
	}
	#progression-nav .next-button {
		width: 0px;
		height: 50px;
	}
	#progression-nav .next-button .gradient {
		height: 50px;
	}
	#progression-nav .tab-button .underline {
		width: calc(100% - 22px);
	}
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

}

@media screen and (min-width: 1280px) and (max-width: 1599px) {

}

@media screen and (min-width: 1600px) and (max-width: 1919px) {

}

@media screen and (min-width: 1920px) {

}
