
/* Configurator: Core Styles */
/* ------------------------------------------------------------ */

section.configurator {
	position: relative;
	padding: 80px 0 0 0;
	min-height: calc(100vh - 80px);
	overflow: hidden;
}



/* Configurator: Subnav */
/* ------------------------------------------------------------ */

section.configurator .subnav {
	position: absolute;
	display: flex;
	background-color: #171717;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

section.configurator .subnav.sticky {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

section.configurator .subnav .tabs {
	display: flex;
	flex: 1;
	/* justify-content: center; */
	height: 80px;
	padding: 0 80px;
}

section.configurator .subnav .tab-button {
	position: relative;
	display: flex;
	flex: 0;
	padding: 0;
	height: 80px;
	/* width: 14.28%; */
	/* justify-content: center; */
	/* margin: 0 60px 0 0; */
	cursor: pointer;
}

section.configurator .subnav .tab-button .label {
	display: flex;
	position: relative;
	z-index: 20;
	line-height: 80px;
	font-size: 13px;
	letter-spacing: 1px;
	color: #888;
	padding: 0 40px 0 0;
}

section.configurator .subnav .tab-button .icon {
	display: flex;
	width: 37px;
	opacity: 0.5;
}
section.configurator .subnav .tab-button .icon img {
	width: 30px;
}

section.configurator .subnav .tab-button.selected .icon {
	opacity: 1;
}

section.configurator .subnav .tab-button.selected .label {
	color: #fff;
}


section.configurator .subnav .tab-button .underline {
	display: none;
	position: absolute;
	width: calc(100% - 40px);
	height: 2px;
	bottom: 0;
	left: 7px;
	line-height: 0;
	z-index: 10;
	background-color: #CD9A81;
}

section.configurator .subnav .tab-button.selected .underline {
	display: block;
}


section.configurator .subnav .tab-button.next {
	justify-content: flex-end;
	padding: 14px 0 0 0;
	flex: 1;
}

section.configurator .subnav .tab-button.next .button {
	padding: 0;
	width: 200px;
}



/* section.configurator .subnav .tab-button .number {
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 11px;
	background-color: #444;
	border: 1px solid #CD9A81;
	color: #CD9A81;
	font-size: 10px;
	line-height: 19px;
	text-align: center;
	font-family: 'GenesisSansText-Bold', Helvetica, Arial, Verdana, sans-serif;
	left: -30px;
	top: 25px;
	opacity: 0.5;
	box-sizing: border-box;
} */

/* section.configurator .subnav .tab-button.selected .number {
	opacity: 1;
} */



/* section.configurator .subnav .tab-button.next .label {
	transform: translateX(0);
	color: rgba(255, 255, 255, 0.8);
	background-color: #A36B4F;
	padding: 0 40px;
	line-height: 52px;
	height: 50px;
	margin: 8px 0 0 0;
	font-size: 11px;
} */


/* section.configurator .subnav .tab-button.selected {
	color: #CD9A81;
} */

section.configurator .subnav .tab-button.selected  {
	/* background-color: #A36B4F; */
}

section.configurator .subnav .ctas {
	display: flex;
	flex: 0 0 200px;
	width: 200px;
	justify-content: flex-end;
	padding: 0 80px 0 0;
}

section.configurator .subnav .cta {
	position: relative;
	display: flex;
	padding: 30px 0 0 40px;
	margin: 0 0 0 30px;
	color: #CD9A81;
	cursor: pointer;
}

section.configurator .subnav .cta .icon {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 18px;
}

section.configurator .subnav .cta .icon img {
	width: 36px;
	height: 36px;
}








/* Configurator: Visualizer */
/* ------------------------------------------------------------ */

section.configurator .visualizer {
	position: relative;
	display: none;
	background-color: #222;
	background: url(../images/visualizer-fpo-2.jpg) no-repeat center center;
	/* background: url(../images/exterior_360_72f_54.jpg) no-repeat center center; */
  	background-size: cover;
	height: calc(100vh - 360px);
	min-height: 560px;
	width: 100%;
}

section.configurator .visualizer.active {
	display: flex;
}

section.configurator .visualizer .ui {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100px;
	bottom: 0;
	left: 0;
	background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}

section.configurator .pill-button {
	position: relative;
	height: 30px;
	line-height: 31px;
	font-size: 14px;
	padding: 0 20px;
	margin: 0 5px;
}

section.configurator .pill-button .label {
	position: relative;
	font-size: 13px;
	line-height: 32px;
	letter-spacing: 1px;
	z-index: 20;
}

section.configurator .pill-button .background {
	position: absolute;
	height: 30px;
	width: 100%;
	left: 0;
	top: 0;
	border-radius: 15px;
	z-index: 10;
}

section.configurator .pill-button.selected .background {
	background-color: #A36B4F;
}




section.configurator .visualizer .ui .mode,
section.configurator .visualizer .ui .mode-ui,
section.configurator .visualizer .ui .fullscreen {
	position: relative;
	display: flex;
	/* height: 100%; */
}

/* section.configurator .visualizer .ui .mode {
	justify-content: flex-start;
	padding: 30px 0 0 80px;
	width: 320px;
	flex: 0 0 320px;
} */

section.configurator .visualizer .ui .mode-button {
	position: relative;
	padding: 0 20px 0 45px;
	margin: 0 5px 0 0;
}

section.configurator .visualizer .ui .mode-button .icon {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 9px;
	top: -3px;
	z-index: 20;
}

section.configurator .visualizer .ui .mode-button .icon img {
	width: 36px;
	height: 36px;
}

section.configurator .visualizer .ui .mode-ui {
	padding: 30px 0 0 0;
	flex: 1;
}

section.configurator .visualizer .ui .mode-ui .mode-ui-360 {
	display: flex;
	width: 100%;
	justify-content: center;
}

section.configurator .visualizer .ui .mode-ui .mode-ui-360-button {
	display: flex;
	margin:
}

section.configurator .visualizer .ui .fullscreen {
	justify-content: flex-end;
	padding: 30px 80px 0 0;
	width: 320px;
	flex: 0 0 320px;
}

section.configurator .visualizer .ui .fullscreen-button {
	position: relative;
	line-height: 32px;
	padding: 0 0 0 32px;
}

section.configurator .visualizer .ui .fullscreen-button .icon {
	position: absolute;
	width: 40px;
	height: 40px;
	left: -8px;
	top: -3px;
}

section.configurator .visualizer .ui .fullscreen-button .icon img {
	width: 36px;
	height: 36px;
}




/* Configurator: Vehicle Info */
/* ------------------------------------------------------------ */

section.configurator .vehicle-info-bar {
	display: none;
	position: relative;
	height: 70px;
	width: 100%;
	top: 0;
	left: 0;
}

section.configurator .vehicle-info-bar.active {
	display: flex;
}

/* section.configurator .vehicle-info-bar.sticky {
	position: fixed;
	display: flex;
	height: 70px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
} */

section.configurator .vehicle-info-bar .vehicle-info {
	position: absolute;
	display: flex;
	height: 50px;
	width: 100%;
	z-index: 20;
	padding: 2px 0 0 0;
	letter-spacing: 0.5px;
}

section.configurator .vehicle-info-bar .vehicle-info .left-column {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	padding: 50px 0 0 80px;
}

section.configurator .vehicle-info-bar .vehicle-info .right-column {
	display: flex;
	flex: 0 0 320px;
	width: 320px;
	justify-content: flex-end;
	padding: 50px 80px 0 0;
}

section.configurator .vehicle-info-bar .vehicle-info .model {
	/* font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	display: flex;
	font-size: 30px;
	letter-spacing: 0.5px;
	padding: 28px 20px 0 0; */

	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	display: flex;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: 0;
	color: #fff;
	padding: 0 0 10px 0;
}

section.configurator .vehicle-info-bar .vehicle-info .trim {
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	display: flex;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	padding: 0 0 5px 0;
}

section.configurator .vehicle-info-bar .vehicle-info .msrp {
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	display: flex;
	font-size: 18px;
	line-height: 18px;
}

/* section.configurator .vehicle-info-bar .vehicle-info .msrp span.msrp-label {
	color: #CD9A81;
	padding: 0 6px 0 0;
} */

section.configurator .vehicle-info-bar .vehicle-info .zip {
	position: relative;
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	display: flex;
	font-size: 14px;
	padding: 18px 30px 0 30px;
	margin: 0 5px 0 0;
}

section.configurator .vehicle-info-bar .vehicle-info .zip .icon {
	position: absolute;
	width: 40px;
	height: 40px;
	left: -5px;
	top: 15px;
}

section.configurator .vehicle-info-bar .vehicle-info .zip .icon img {
	width: 36px;
	height: 36px;
}

section.configurator .vehicle-info-bar .vehicle-info .inventory {
	position: relative;
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	display: flex;
	font-size: 14px;
	/* padding: 18px 0 0 30px; */
}

section.configurator .vehicle-info-bar .vehicle-info .inventory .label {
	position: relative;
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	display: flex;
	font-size: 14px;
	line-height: 32px;
	padding: 0 5px 0 0;
}

section.configurator .vehicle-info-bar .vehicle-info .inventory .pill-button {
	padding: 0 10px;
}

section.configurator .vehicle-info-bar .vehicle-info .inventory .pill-button .label {
	padding: 0;
	line-height: 32px;
}



section.configurator .vehicle-info-bar .vehicle-info .inventory .icon {
	position: absolute;
	width: 40px;
	height: 40px;
	left: -10px;
	top: 15px;
}

section.configurator .vehicle-info-bar .vehicle-info .inventory .icon img {
	width: 36px;
	height: 36px;
}

section.configurator .vehicle-info-bar .background {
	position: absolute;
	/* background-color: #000; */
	background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
	height: 200px;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0.6;
	z-index: 10;
	transition: opacity 0.6s ease-out;
}

section.configurator .vehicle-info-bar.sticky .background {
	opacity: 1;
}


/* Configurator: Panels */
/* ------------------------------------------------------------ */

/* section.configurator .panels {
	background-color: #000;
	min-height: 100%;
} */

/* section.configurator .panel {
	display: none;
	padding: 40px 0;
}

section.configurator .panel.selected {
	display: flex;
} */


/* section.configurator .panel-content {
	display: flex;
	flex: 1;
	flex-direction: column;
}

section.configurator .panel-content .row {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 0 0 60px 0;
} */


/* Row Header */

/* section.configurator .panel-content .row-header {
	position: relative;
	display: flex;
	flex: 1;
	padding: 0 80px 10px 80px;
}

section.configurator .panel-content .row-header .title {
	display: flex;
	flex: 1;
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	font-size: 26px;
	letter-spacing: 0.5px;
	line-height: 60px;
	color: #CD9A81;
}

section.configurator .panel-content .row-header .ctas {
	display: flex;
	align-content: flex-end;
}


section.configurator .panel-content .cards {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0 60px;
}

section.configurator .panel-content .card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 25%;
	/* margin: 0 20px; */
	/* background-color: darkcyan; */
} */



/* Card */

/* section.configurator .panel-content .card .inner-wrap {
	display: flex;
	flex: 1 0 auto;
	position: relative;
	padding: 20px;
}

section.configurator .panel-content .card .card-content {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 320px 35px 35px 35px;
}

section.configurator .panel-content .card.trim .card-content,
section.configurator .panel-content .card.package .card-content {
	padding: 35px 35px 35px 35px;
}


section.configurator .panel-content .card .background {
	position: absolute;
	background-color: #222;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	box-sizing: border-box;
}

section.configurator .panel-content .card.selected .background {
	background-color: #A36B4F;
} */


/* section.configurator .panel-content .card.selected .select-icon .deselected {
	display: none;
}

section.configurator .panel-content .card.selected .select-icon .selected {
	display: block;
}


section.configurator .panel-content .card .select-icon .deselected {
	display: block;
}

section.configurator .panel-content .card .select-icon .selected {
	display: none;
} */

/* section.configurator .panel-content .card .select-icon {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 35px;
	left: 31px;
	z-index: 10;
	opacity: .3;
}

section.configurator .panel-content .card.selected .select-icon {
	opacity: .9;
}

section.configurator .panel-content .card .select-icon img {
	width: 30px;
	height: 30px;
}

section.configurator .panel-content .card .info-button {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 15px;
	right: 15px;
	z-index: 30;
}

section.configurator .panel-content .card .compare-button {
	position: absolute;
	padding: 7px 0;
	top: 15px;
	right: 20px;
	z-index: 30;
	color: #fff;
	cursor: pointer;
	opacity: 0.7;
} */







/* section.configurator .panel-content .card.trim .compare-button {
	top: 32px;
	right: 40px;
	opacity: 0.6;
} */

/* section.configurator .panel-content .card .compare-button .label {
	font-size: 11px;
}
section.configurator .panel-content .card .compare-button .underline {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #fff;
	opacity: 0.7;
} */






/* section.configurator .panel-content .card .info-button .icon {
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 11px;
	background-color: rgba(0,0,0,0.2);
	border: 1px solid #fff;
	color: #fff;
	font-size: 10px;
	line-height: 19px;
	text-align: center;
	font-family: 'GenesisSansText-Bold', Helvetica, Arial, Verdana, sans-serif;
	left: 6px;
	top: 6px;
	opacity: 0.45;
	box-sizing: border-box;
}

section.configurator .panel-content .card.model .info-button .icon {
	opacity: 0.7;
} */



/* section.configurator .panel-content .card .title-wrap .title {
	position: relative;
	display: flex;
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	font-size: 28px;
	line-height: 32px;
	letter-spacing: 0.5px;
	color: #fff;
	padding: 0 30px 25px 30px;
	z-index: 10;
}

section.configurator .panel-content .card .title.small {
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.5px;
	padding: 3px 0 30px 0;
	z-index: 10;
} */

/* section.configurator .panel-content .card.selected .title.small span.copper {
	color: #fff;
}

section.configurator .panel-content .card .bug {
	display: flex;
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	color: #fff;
	padding: 7px 10px 7px 30px;
	z-index: 10;
}

section.configurator .panel-content .card .specs {
	position: relative;
	margin: 0 0 30px 0;
	z-index: 10;
}

section.configurator .panel-content .card .specs .labels {
	display: flex;
	width: 100%;
	margin: 0 0 20px 0;
}

section.configurator .panel-content .card .specs .values {
	position: relative;
	display: flex;
	width: 100%;
	z-index: 10;
}


section.configurator .panel-content .card .specs .label {
	display: flex;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 1px;
	flex: 1;
	color: #CD9A81;
}

section.configurator .panel-content .card .specs .label.msrp {
	width: 45%;
	flex: 0 0 45%;
}

section.configurator .panel-content .card .specs .label.mpg {
	width: 35%;
	flex: 0 0 35%;
} */

/* section.configurator .panel-content .card .specs .label.hp {
	width: 20%;
	flex: 0 0 20%;
}

section.configurator .panel-content .card.selected .specs .label {
	color: #fff;
}

section.configurator .panel-content .card .specs .value.msrp {
	width: 45%;
	flex: 0 0 45%;
}

section.configurator .panel-content .card .specs .value.mpg {
	width: 35%;
	flex: 0 0 35%;
}

section.configurator .panel-content .card .specs .value.hp {
	width: 20%;
	flex: 0 0 20%;
}

section.configurator .panel-content .card .specs .value {
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	display: flex;
	font-size: 24px;
	letter-spacing: 1px;
	flex: 1;
} */

/* section.configurator .panel-content .card .description {
	position: relative;
	display: flex;
	font-family: 'GenesisSansText-Regular', Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	line-height: 22px;
	margin: 0 0 40px 0;
	z-index: 10;
}

section.configurator .panel-content .card .description ul {
	list-style: disc outside none;
	padding: 0 0 0 12px;
}

section.configurator .panel-content .card .description li {
	padding: 0 0 5px 0;
}

section.configurator .panel-content .card .ctas {
	position: relative;
	display: flex;
	z-index: 10;
}

section.configurator .panel-content .card .align-bottom {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex: 1;
	z-index: 10;
} */


/* section.configurator .panel-content .card .button {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}

section.configurator .panel-content .card.selected .button {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	border: 1px solid transparent;
	background-color: rgba(255, 255, 255, 0.1);
} */



/* Card Model */

/* section.configurator .panel-content .card.model .title-wrap {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 280px;
	top: 0;
	left: 0;
	z-index: 20;
}

section.configurator .panel-content .card.model .title-wrap .title {
	font-size: 38px;
}

section.configurator .panel-content .card.model .vehicle-photo {
	position: absolute;
	width: 100%;
	height: 280px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
	left: 0;
	top: 0;
	z-index: 10;
} */

/* section.configurator .panel-content .card.model .vehicle-photo img {
	width: 100%;
} */







/* Card Trims */

section.configurator .panel-content .card.trim .title {
	padding: 0 0 30px 0;
}



/* Card Accessory */
section.configurator .panel-content .card.accessory .accessory-photo {
	/* position: relative;
	width: 100%;
	margin: 25px 0 40px 0;
	z-index: 10; */

	position: absolute;
	width: 100%;
	height: 220px;
	/* background-color: #1a1a1a; */
	/* margin: 20px 0 40px 0;
	z-index: 10; */

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
	left: 0;
	top: 0;
	z-index: 10;
}

section.configurator .panel-content .card.accessory .accessory-photo img {
	width: 100%;
}

section.configurator .panel-content .card.accessory .card-content {
	padding: 250px 35px 35px 35px;
}

section.configurator .panel-content .card.accessory .title.small {
	padding: 0 0 30px 0;
}




/* Colors */

section.configurator .panel-content.color .row {
	display: flex;
	flex: 1;
	flex-direction: row;
	/* border: 1px solid green; */
	/* padding: 0 50px 0 50px; */
}

section.configurator .panel-content.color .row .colors {
	position: relative;
	/* display: flex;
	flex: 1;
	flex-direction: column; */
	width: 50%;
	padding: 0 80px;
}

section.configurator .panel-content.color .row-header {
	position: relative;
	display: flex;
	/* flex: 1; */
	/* flex-direction: row; */
	/* border: 1px solid red; */
	padding: 0 0 25px 0;
}

section.configurator .panel-content.color .row-header .current-selection {
	display: flex;
	justify-content: flex-end;
	padding: 20px 0 10px 0;
	font-size: 11px;
	letter-spacing: 1px;
}

section.configurator .panel-content.color .color-swatches {
	display: flex;
	flex-wrap: wrap;
}

section.configurator .panel-content.color .color-swatches .swatch {
	display: flex;
	width: 120px;
	height: 120px;
	/* border: 1px solid teal; */
}

section.configurator .panel-content.color .color-swatches .swatch .swatch-button {
	position: relative;
	display: flex;
	width: 100px;
	height: 100px;
	background: #444;
	border-radius: 50px;
	border: 0;
}

section.configurator .panel-content.color .color-swatches .swatch.selected .swatch-button {
	border: 1px solid #CD9A81;
}


/* Exterior */

section.configurator .panel-content.color .color-swatches .swatch.color1 .swatch-button {
	background: #1a1a1a;
}

section.configurator .panel-content.color .color-swatches .swatch.color2 .swatch-button {
	background: #103a59;
}

section.configurator .panel-content.color .color-swatches .swatch.color3 .swatch-button {
	background: #06275c;
}

section.configurator .panel-content.color .color-swatches .swatch.color4 .swatch-button {
	background: #850900;
}

section.configurator .panel-content.color .color-swatches .swatch.color5 .swatch-button {
	background: #272727;
}

section.configurator .panel-content.color .color-swatches .swatch.color6 .swatch-button {
	background: #373737;
}

section.configurator .panel-content.color .color-swatches .swatch.color7 .swatch-button {
	background: #555;
}

section.configurator .panel-content.color .color-swatches .swatch.color8 .swatch-button {
	background: #ddd;
}

section.configurator .panel-content.color .color-swatches .swatch.color9 .swatch-button {
	background: #eee;
}

/* Interior */

section.configurator .panel-content.color .color-swatches .swatch.color10 .swatch-button {
	background: #333;
}

section.configurator .panel-content.color .color-swatches .swatch.color11 .swatch-button {
	background: #ccc;
}

section.configurator .panel-content.color .color-swatches .swatch .swatch-button .select-icon {
	position: absolute;
	display: none;
	width: 30px;
	height: 30px;
	top: 35px;
	left: 35px;
	z-index: 10;
	background: rgb(0,0,0,0.2);
	border-radius: 15px;
}

section.configurator .panel-content.color .color-swatches .swatch.selected .swatch-button .select-icon {
	display: block;
}

section.configurator .panel-content.color .color-swatches .swatch .swatch-button .select-icon img {
	width: 30px;
	height: 30px;
}







/* Summary */
/* ------------------------------------------------------------ */

section.configurator .panel-content.summary {
	flex-direction: row;
	padding: 0 80px;
}

section.configurator .panel-content.summary .column {
	display: flex;
}

section.configurator .panel-content.summary .column.info {
	display: flex;
	flex: 1;
	font-family: 'GenesisSansText-Regular', Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	line-height: 22px;
}

section.configurator .panel-content.summary .column.value {
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 0.5px;
}

section.configurator .panel-content.summary .column.label {
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.5px;
}


section.configurator .panel-content.summary .separator-line {
	height: 1px;
	width: 100%;
	margin: 30px 0;
	background-color: #222;
}

section.configurator .panel-content.summary .title {
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0.5px;
	color: #CD9A81;
	margin: 0 0 30px 0;
}




/* Contact Forms */

section.configurator .panel-content.summary .column.contact {
	display: flex;
	flex-direction: column;
	width: 380px;
	flex: 0 0 380px;

}

section.configurator .panel-content.summary .column.contact .inner-wrap {
	display: flex;
	flex-direction: column;
	border: 1px solid #222;
	box-sizing: border-box;
	padding: 0 30px;
}


section.configurator .panel-content.summary .column.contact .tabs {
	display: flex;
}

section.configurator .panel-content.summary .tabs .tab-button {
	position: relative;
	display: flex;
	padding: 30px 0 30px 0;
	width: 50%;
	color: #444;
	/* justify-content: center; */
}

section.configurator .panel-content.summary .tabs .tab-button .label {
	display: flex;
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
	color: #444;
	/* padding: 0 0 0 5px; */
}

section.configurator .panel-content.summary .tabs .tab-button.selected .label {
	color: #CD9A81;
}

section.configurator .panel-content.summary .tabs .tab-button .underline {
	display: flex;
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	line-height: 0;
	background-color: #444;
}

section.configurator .panel-content.summary .tabs .tab-button.selected .underline {
	background-color: #CD9A81;
}

section.configurator .panel-content.summary .column.contact .form {
	display: flex;
	/* background-color: #222; */
	min-height: 600px;
	padding: 55px 0;
	color: #888;
}







/* Vehicle Information */

section.configurator .panel-content.summary .row {
	padding: 0 60px 60px 0;
}

section.configurator .panel-content.summary .row-header {
	flex: 0;
	padding: 0 0 30px 0;
}


section.configurator .panel-content.summary .vehicle-info {
	display: flex;
	flex-direction: row;
	padding: 30px 0 0 0;
}




section.configurator .panel-content.summary .vehicle-info .model-trim {
	display: flex;
	flex: 1;
	flex-direction: column;
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
}

section.configurator .panel-content.summary .vehicle-info .model-trim .model {
	font-size: 44px;
	line-height: 40px;
	letter-spacing: 1px;
	color: #fff;
	padding: 0 0 10px 0;
}

section.configurator .panel-content.summary .vehicle-info .model-trim .trim {
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0.5px;
	color: #CD9A81;
}

section.configurator .panel-content.summary .vehicle-info .specs {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 0 0 380px;
	width: 380px;
}

section.configurator .panel-content.summary .vehicle-info .specs .labels {
	display: flex;
	width: 100%;
	margin: 0 0 15px 0;
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	color: #CD9A81;
}

section.configurator .panel-content.summary .vehicle-info .specs .values {
	position: relative;
	display: flex;
	width: 100%;
	z-index: 10;
	padding: 7px 0 0 0;
}

section.configurator .panel-content.summary .vehicle-info .specs .label {
	display: flex;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 1px;
	flex: 1;
	color: #CD9A81;
}

section.configurator .panel-content.summary .vehicle-info .specs .label.msrp {
	width: 45%;
	flex: 0 0 45%;
}

section.configurator .panel-content.summary .vehicle-info .specs .label.mpg {
	width: 35%;
	flex: 0 0 35%;
}

section.configurator .panel-content.summary .vehicle-info .specs .label.hp {
	width: 20%;
	flex: 0 0 20%;
}

section.configurator .panel-content.summary .vehicle-info .specs .value.msrp {
	width: 45%;
	flex: 0 0 45%;
}

section.configurator .panel-content.summary .vehicle-info .specs .value.mpg {
	width: 35%;
	flex: 0 0 35%;
}

section.configurator .panel-content.summary .vehicle-info .specs .value.hp {
	width: 20%;
	flex: 0 0 20%;
}

section.configurator .panel-content.summary .vehicle-info .specs .value {
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	display: flex;
	font-size: 22px;
	letter-spacing: 1px;
	flex: 1;
}




/* Accordians */

section.configurator .panel-content.summary .cost-detail {
	padding: 60px 0 0 0;
}

section.configurator .panel-content.summary .cost-detail .title {
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0.5px;
	color: #CD9A81;
	margin: 0 0 40px 0;
}

section.configurator .panel-content.summary .cost-detail .accordian-rows {

}

section.configurator .panel-content.summary .cost-detail .accordian-row {
	display: flex;
	flex-direction: row;
	background-color: #111;
	padding: 40px;
	margin: 0 0 20px 0;
}

section.configurator .panel-content.summary .cost-detail .accordian-row .column {
	display: flex;
}

section.configurator .panel-content.summary .cost-detail .accordian-row .column.title {
	width: 140px;
	flex: 0 0 140px;
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 0.5px;
	color: #CD9A81;
	padding: 4px 0 0 0;
}

section.configurator .panel-content.summary .cost-detail .accordian-row .column.value {
	width: 80px;
	flex: 0 0 80px;
	padding: 4px 0 0 0;
	justify-content: flex-end;
}

section.configurator .panel-content.summary .cost-detail .accordian-row .column.nav {
	width: 80px;
	flex: 0 0 80px;
	justify-content: flex-end;
}

section.configurator .panel-content.summary .cost-detail .accordian-row .column.info {
	flex: 1;
	flex-direction: column;
	font-size: 14px;
	line-height: 20px;
}

section.configurator .panel-content.summary .cost-detail .accordian-row .column.info {
	flex: 1;
	flex-direction: column;
	font-size: 14px;
	line-height: 20px;
	color: #aaa;
	padding: 1px 0 0 0;
}

section.configurator .panel-content.summary .cost-detail .accordian-row .title {

}




/* Cost Totals */

section.configurator .panel-content.summary .cost-detail .totals {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
}

section.configurator .panel-content.summary .cost-detail .total {
	display: flex;
	flex-direction: row;
	padding: 15px 40px;
}

section.configurator .panel-content.summary .cost-detail .total .column {
	display: flex;
	width: 50%;
}

section.configurator .panel-content.summary .cost-detail .total .column.value {
	justify-content: flex-end;
}

section.configurator .panel-content.summary .cost-detail .total.msrp .column.value {
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	font-size: 22px;
	line-height: 22px;
	letter-spacing: 1px;
	color: #CD9A81;
}





/* Payment Calculator */

section.configurator .panel-content.summary .payment-calculator {
	padding: 40px;
}

section.configurator .panel-content.summary .payment-calculator .tabs .tab-button {
	width: 240px;
	max-width: 50%;
}

section.configurator .panel-content.summary .payment-calculator .form {
	display: flex;
	flex-direction: column;
	padding: 60px 0 0 0;
}

section.configurator .panel-content.summary .payment-calculator .form .input-row {
	display: flex;
	padding: 0 0 60px 0;
}

section.configurator .panel-content.summary .payment-calculator .form .input-row .input {
	display: flex;
	flex-direction: column;
	width: calc(25% - 40px);
	padding: 0 40px 0 0;
}

section.configurator .panel-content.summary .payment-calculator .form .input-row .input .inner-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex: 1;
	max-width: 150px;
}

section.configurator .panel-content.summary .payment-calculator .form .input-row .input .underline {
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	line-height: 0;
	background-color: #CD9A81;
}

section.configurator .panel-content.summary .payment-calculator .form .input-row .input .caret {
	position: absolute;
	bottom: 13px;
	right: 0;
}

section.configurator .panel-content.summary .payment-calculator .label {
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 1px;
	color: #CD9A81;
}

section.configurator .panel-content.summary .payment-calculator .value {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex: 1;
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: 1px;
	color: #fff;
	padding: 20px 0;
	z-index: 10;
}

section.configurator .panel-content.summary .payment-calculator .payment .value {
	position: relative;
	display: block;
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	padding: 20px 0;
}

section.configurator .panel-content.summary .payment-calculator .payment .value .legal {
	padding: 0 20px 0 0;
}

section.configurator .panel-content.summary .payment-calculator .value span.inline-label {
	display: inline;
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	font-size: 11px;
	line-height: 32px;
	letter-spacing: 1px;
	color: #fff;
}

section.configurator .panel-content.summary .payment-calculator .form .result-row {
	display: flex;
}

section.configurator .panel-content.summary .payment-calculator .form .result-row .payment {
	display: flex;
	flex-direction: column;
	width: 50%;
}

section.configurator .panel-content.summary .payment-calculator .form .result-row .ctas {
	position: relative;
	display: flex;
	width: 50%;
}

section.configurator .panel-content.summary .payment-calculator .form .result-row .ctas .button {
	position: absolute;
	height: 60px;
	width: 280px;
	max-width: 100%;
	padding: 0;
	line-height: 60px;
	bottom: 0;
	right: 0;
}






/* Inventory Results */

section.configurator .panel-content.summary .inventory-results {
	padding: 40px 20px;
}

section.configurator .panel-content.summary .text-cta {
	position: relative;
	height: 26px;
	cursor: pointer;
	margin: 0 0 0 15px;
}

section.configurator .panel-content.summary .text-cta.zip {
	margin: 0 20px 0 10px;
	padding: 0 0 0 22px;
}

section.configurator .panel-content.summary .text-cta.zip .icon {
	position: absolute;
	width: 40px;
	height: 40px;
	left: -16px;
	top: -14px;
}

section.configurator .panel-content.summary .text-cta .label {
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.5px;
	color: #fff;
}

section.configurator .panel-content.summary .text-cta .underline {
	position: absolute;
	background-color: #CD9A81;
	height: 1px;
	width: 100%;
	bottom: 0;
	left: 0;
}

section.configurator .panel-content.summary .full-inventory {
	display: flex;
	justify-content: flex-end;
}

section.configurator .panel-content.summary .full-inventory .text-cta {
	display: flex;
}

section.configurator .panel-content.summary .inventory-results .row-header {
	padding: 0 20px;
}

section.configurator .panel-content.summary .inventory-results .cards {
	width: 100%;
	padding: 0;
}

section.configurator .panel-content.summary .inventory-results .cards .card {
	width: 50%;
}

section.configurator .panel-content.summary .inventory-results .cards .card .inner-wrap {
	padding: 20px 20px 20px 20px;
}

section.configurator .panel-content.summary .inventory-results .card-content .header {
	display: flex;
	flex-direction: row;
	z-index: 10;
}

section.configurator .panel-content.summary .inventory-results .card-content .header .vehicle-info {
	display: flex;
	flex-direction: column;
}

section.configurator .panel-content.summary .inventory-results .card-content .header .msrp {
	/* display: flex;
	flex-direction: column; */
}


section.configurator .panel-content.summary .inventory-results .card-content {
	padding: 295px 35px 35px 35px;
}

section.configurator .panel-content.summary .inventory-results .card-content .vehicle-photo {
	position: absolute;
	width: 100%;
	height: 240px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
	left: 0;
	top: 0;
	z-index: 10;
}



section.configurator .panel-content.summary .inventory-results .full-inventory {
	padding: 20px 20px 0 20px;
}


section.configurator .panel-content.summary .inventory-results .model {
	position: relative;
	font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
	font-size: 32px;
	line-height: 34px;
	letter-spacing: 0.5px;
	color: #fff;
	padding: 0 0 10px 0;
	z-index: 10;
}

section.configurator .panel-content.summary .inventory-results .card .header {
	display: flex;
	padding: 0 0 25px 0;
}

section.configurator .panel-content.summary .inventory-results .vehicle-info {
	flex: 1;
	padding: 0;
}

section.configurator .panel-content.summary .inventory-results .msrp {
	width: 100px;
	flex: 0 0 100px;
	text-align: right;
}

section.configurator .panel-content.summary .inventory-results .msrp .value {
	font-size: 22px;
	line-height: 24px;
}

section.configurator .panel-content.summary .inventory-results .msrp .label {
	position: relative;
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 0.5px;
	color: #CD9A81;
	padding: 0 0 5px 0;
	z-index: 10;
}

section.configurator .panel-content.summary .inventory-results .build-details {
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #aaa;
}

/* section.configurator .panel-content.summary .inventory-results .card .swatches-location {
	display: flex;
	padding: 0 0 30px 0;
} */

section.configurator .panel-content.summary .inventory-results .card .swatches {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

section.configurator .panel-content.summary .inventory-results .card .swatch {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	top: 210px;
}

section.configurator .panel-content.summary .inventory-results .card .swatch.interior {
	left: 30px;
	background-color: #aaa;
	z-index: 20;
}

section.configurator .panel-content.summary .inventory-results .card .swatch.exterior {
	left: 80px;
	background-color: #111;
	z-index: 30;
}

section.configurator .panel-content.summary .inventory-results .location .label {
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding: 0 0 0 25px;
	color: #CD9A81;
}

section.configurator .panel-content.summary .inventory-results .card-content .location {
	display: flex;
	flex: 1;
	position: relative;
	z-index: 10;
	padding: 0 0 30px 0;
}

section.configurator .panel-content.summary .inventory-results .card-content .location .icon {
	position: absolute;
	width: 40px;
	height: 40px;
	top: -12px;
	left: -13px;
}





/* Local Retailers */

section.configurator .panel-content.summary .local-retailers {
	display: flex;
	flex-direction: column;
	padding: 40px;
}

section.configurator .panel-content.summary .local-retailers .retailer {
	display: flex;
	min-height: 360px;
}

section.configurator .panel-content.summary .local-retailers .retailer .contact {
	display: flex;
	width: 30%;
	flex: 0 0 30%;
}

section.configurator .panel-content.summary .local-retailers .retailer #map {
	display: flex;
	flex: 1;
	background-color: #aaa;
}






/* Configurator: Breakpoint Styles */
/* 1920px, 1600px, 1366px, 1280px, 1024px, 768px */
/* ------------------------------------------------------------ */


@media (min-width: 0px){
	section.configurator .visualizer {
		height: 50vh;
		min-height: 0;
	}

	section.configurator .panel-content .card {
		width: 100%;
	}
	section.configurator .panel-content .cards {
		padding: 0 20px;
	}
	section.configurator .panel-content .row-header {
		padding: 0 40px 10px 40px;
	}

	section.configurator .visualizer .ui .mode,
	section.configurator .visualizer .ui .mode-ui,
	section.configurator .visualizer .ui .fullscreen {
		height: 100%;
	}

	section.configurator .visualizer .ui .mode {
		padding: 0 0 0 20px;
		width: auto;
		flex: 0;
		flex-direction: column;
	}

	section.configurator .visualizer .ui .mode .pill-button {
		padding: 0 20px 0 55px;
		margin: 10px 0 0 0;
	}

	section.configurator .visualizer .ui .mode-ui {
		padding: 0;
	}

	section.configurator .visualizer .ui .fullscreen {
		padding: 0;
	}

	section.configurator .pill-button .background {
		width: 30px;
		left: 11px;
	}

	section.configurator .visualizer .ui {
		height: 140px;
	}
}


@media (min-width: 768px){
	section.configurator .panel-content .card {
		width: 50%;
	}
	/* section.configurator .panel-content .cards {
		padding: 0 40px;
	}
	section.configurator .panel-content .row-header {
		padding: 0 60px 10px 60px;
	} */
}


@media (min-width: 1024px){
	section.configurator .visualizer {
		height: calc(100vh - 360px);
		min-height: 560px;
	}

	section.configurator .panel-content .card {
		width: 50%;
	}
	section.configurator .panel-content .cards {
		padding: 0 60px;
	}
	section.configurator .panel-content .row-header {
		padding: 0 80px 10px 80px;
	}

	section.configurator .visualizer .ui .mode,
	section.configurator .visualizer .ui .mode-ui,
	section.configurator .visualizer .ui .fullscreen {
		height: auto;
	}

	section.configurator .visualizer .ui .mode {
		justify-content: flex-start;
		padding: 30px 0 0 80px;
		width: 320px;
		flex: 0 0 320px;
		flex-direction: row;
	}
	section.configurator .pill-button .background {
		width: 100%;
		left: 0;
	}

	section.configurator .visualizer .ui .mode .pill-button {
		padding: 0 20px 0 45px;
		margin: 0 5px 0 0;
	}

	section.configurator .visualizer .ui {
		height: 100px;
	}

}

@media (min-width: 1340px){
	section.configurator .panel-content .card {
		width: 33.33%;
	}
}

@media (min-width: 1600px){
	section.configurator .panel-content .card {
		width: 33.33%;
	}
}

@media (min-width: 1920px){
	section.configurator .panel-content .card {
		width: 25%;
	}
}
