/* CSS Reset */
/* ------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,
a:hover,
a:visited,
a:active {
	text-decoration: none !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
input, textarea {
	outline: none;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	space: 0px;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 50px white inset;
}

/*

Orange Color:

Dark
#804033

Med
#a36b4f

Light
#cd9a81

*/

/* FPO/Test */
/* ------------------------------------------------------------ */
.fpo-page {
	padding: 0;
}

.fpo-page img {
	width: 100%;
}


/* Global */
/* ------------------------------------------------------------ */


body, html {
	background: #000;
	width: 100%;
	height: 100%;
	color: #fff;
	/* font-family: 'GenesisSansText', Helvetica, Arial, Verdana, sans-serif; */
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 13px;
	-webkit-font-smoothing: antialiased;
}

/* Global Nav: Core Styles */
/* ------------------------------------------------------------ */

.legal {
	font-family: 'GenesisSansText', Helvetica, Arial, Verdana, sans-serif;
	font-size: 11px;
	line-height: 18px;
	letter-spacing: 0;
	color: #666;
}

span.copper {
	color: #CD9A81;
}

section.global-nav {
	width: 100%;
	height: 80px;
	font-size: 16px;
	line-height: 16px;
	z-index: 200;
}

section.global-nav header {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	background: #000;
	width: 100%;
	height: 80px;
	z-index: 200;
}

section.global-nav header .genesis-logo {
	display: flex;
	height: 80px;
	padding: 0 25px;
	/* background-color: darkmagenta; */
	cursor: pointer;
}

section.global-nav header .genesis-logo img {
	display: flex;
	width: 120px;
}


/* Nav Buttons */

section.global-nav header .global-nav-buttons {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	height: 80px;
	padding: 0 40px;
}

section.global-nav header .global-nav-button {
	position: relative;
	display: flex;
	height: 80px;
	padding: 0 25px;
	/* background-color: maroon; */
	/* border: 1px solid lightseagreen; */
	cursor: pointer;
}

section.global-nav header .global-nav-button.selected {
	color: #cd9a81;
}

section.global-nav header .global-nav-button .label {
	font-size: 16px;
	line-height: 16px;
	padding: 32px 20px 0 0;
}

section.global-nav header .global-nav-button .caret {
	position: absolute;
	right: 20px;
	top: 30px;
}

.caret svg {
	width: 20px;
	height: 20px;
}

.caret svg .caret-line {
	fill: none;
	stroke: #ffffff;
	stroke-miterlimit: 10;
}

.global-nav-button.selected .caret {
	transform: rotate(180deg) scaleX(-1) translateY(2px);
}

.global-nav-button.selected .caret svg .caret-line {
	stroke: #cd9a81;
}


/* Tabs */

.tab-nav {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 20px 0 40px 0;
	/* background-color: darkcyan; */
}

.tab-nav-button {
	position: relative;
	display: flex;
	margin: 0 20px;
	padding: 20px 0;
	font-size: 14px;
	line-height: 14px;
	cursor: pointer;
}

.tab-nav-button.selected {
	color: #cd9a81;
}

.tab-nav-button .underline {
	position: absolute;
	width: 0%;
	height: 1px;
	left: 0;
	bottom: 0;
	background-color: #cd9a81;
}

.tab-nav-button.selected .underline {
	width: 100%;
}

.tabs {
	position: relative;
	display: flex;
	width: 100%;
}

.tab {
	position: relative;
	display: none;
	flex-wrap: wrap;
	width: 100%;
	padding: 40px;
}

.tab.selected {
	display: flex;
}


/* Nav Panels */

section.global-nav header .global-nav-panels {
	position: absolute;
	display: none;
	top: 80px;
	left: 0;
	width: 100%;
	/* height: 480px; */
	background-color: #000000;
}
section.global-nav header .global-nav-panels.open {
	display: flex;
}



section.global-nav header .global-nav-panel {
	position: relative;
	display: none;
	flex-direction: column;
	width: 100%;
}

section.global-nav header .global-nav-panel.selected {
	display: flex;
}


/* Vehicle Panel */



/* Vehicle Card */

.vehicle-card {
	display: flex;
	width: 33.33%;
}

.vehicle-card .inner-wrap {
	display: flex;
	flex: 1;
	flex-direction: column;
	background-color: #191919;
	margin: 30px;
	padding: 60px;
}


/*Global Buttons */

.button {
	height: 50px;
	width: 200px;
	font-size: 11px;
	font-family: 'GenesisSansHead-Regular', Helvetica, Arial, Verdana, sans-serif;
	letter-spacing: 1px;
	line-height: 50px;
	/* padding: 0 60px; */
	box-sizing: border-box;
	cursor: pointer;
	text-align: center;
}

.button.dark {
	background-color: #000;
	border: 1px solid #5d5d5d;
	color: #fff;
}

.button.dark-translucent {
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #5d5d5d;
	color: #fff;
}

.button.copper {
	background-color: #A36B4F;
	/* border: 1px solid #5d5d5d; */
	color: #fff;
}

.button .label.selected {
	display: none;
}

.button .label.deselected {
	display: block;
}

.card.selected .button .label.selected {
	display: block;
}

.card.selected .button .label.deselected {
	display: none;
}


/*
font-family: 'GenesisSansHead-Light', Helvetica, Arial, Verdana, sans-serif;
font-size: 18px;
color: #CD9A81;
*/



/* Global Nav: Breakpoint Styles */
/* 1920px, 1600px, 1366px, 1280px, 1024px, 768px */
/* ------------------------------------------------------------ */


@media (min-width: 768px){

}

@media (min-width: 1024px){

}

@media (min-width: 1280px){

}

@media (min-width: 1600px){

}

@media (min-width: 1920px){

}
